div(class="catalog")
    div(class="container")
        div(class="txt-block")
            div(class="txt-block__title") 
                h2(class="subtitle") каталог
                a(href="!#", class="txt-block__ghost") Весь каталог
            p(class="txt-block__txt") В профессиональной сфере часто случается так, что личные или корпоративные клиенты заказывают, чтобы публикация была сделана и представлена еще тогда, когда фактическое содержание все еще не готово. Вспомните новостные блоги, где информация публикуется каждый час в живом порядке. Тем не менее, читатели склонны к тому, чтобы быть отвлеченными доступным контентом.
        div(class="catalog__grid")
            a(href="!#", class="catalog__item")
                img(src="../src/img/products/prod_1.jpg" class="catalog__item-img")
                div(class="catalog__item-text")
                    h4(class="catalog__item-title") Грунтовки
                    p(class="catalog__item-desc") Предлагаем ознакомиться и приобрести нагреватели двух видов: проточные и накопительные. Характеристики указаны в каталоге.
            a(href="!#", class="catalog__item")
                img(src="../src/img/products/prod_2.jpg" class="catalog__item-img")
                div(class="catalog__item-text")
                    h4(class="catalog__item-title") Клей
                    p(class="catalog__item-desc") Дизельные генераторы помогут не остаться без электричества на стройках. В каталоге представлены подробные характеристики товаров.
            a(href="!#", class="catalog__item")
                img(src="../src/img/products/prod_3.jpg" class="catalog__item-img")
                div(class="catalog__item-text")
                    h4(class="catalog__item-title") Наливной пол
                    p(class="catalog__item-desc") Кондиционер – это отличный способ избавиться от летнего зноя и создать в квартире комфортную атмосферу в любое время года.
            a(href="!#", class="catalog__item")
                img(src="../src/img/products/prod_4.jpg" class="catalog__item-img")
                div(class="catalog__item-text")
                    h4(class="catalog__item-title") Гидроизоляция
                    p(class="catalog__item-desc") В каталоге легко найти сантехнику от мировых производителей в максимальном разнообразии всех существующих типов изделий.
