<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head.pug
    body
        include pug/blocks/header.pug 
        div(class="welcome", style="background-image:  url(../src/img/fitting-wood-flooring.jpg); background-size: cover;background-position: center;")
            div(class="container container_big welcome__wrap")
                div(class="welcome__title")
                        span(class="welcome__title-big") ПРОДУКЦИЯ У КОТОРОЙ ЕСТЬ ДУША 
                        <br>
                        span полиуретановая и эпоксидная 
                div(class="welcome__separator")
                    div
                h1(class="welcome__subtitle") СОБСТВЕННОЕ ПРОИЗВОДСТВО УМНОГО КЛЕЯ
                div(class="welcome__actions")
                    button(class="button welcome__btn welcome__catalog") 
                        span Посмотреть каталог
                    button(class="button welcome__btn button_green welcome__partner") 
                        span Стать партнером
                div(class="welcome__footer")
                    span(class="welcome__footer-txt") а простой клей можно купить в любом строительном
                    div(class="welcome__anime")
                        img(src="../src/img/icons/arrow-banner.svg" class="welcome__anime-arrow")
                        img(src="../src/img/icons/arrow-banner.svg" class="welcome__anime-arrow")
        div(class='advantages')
            div(class="container")
                div(class="advantages__list")
                    div(class="advantages__item")
                        img(class="advantages__icon", src="../src/img/icons/advantages/heart.svg")
                        div(class="advantages__txt-wrap")
                            h3(class="advantages__title") Забота о <br> каждом клиенте
                            span(class="advantages__txt") Мы очень любим наших <br> клиентов, а они нас 
                    div(class="advantages__item")
                        img(class="advantages__icon", src="../src/img/icons/advantages/price.svg")
                        div(class="advantages__txt-wrap")
                            h3(class="advantages__title") ОПТОВЫЕ ЦЕНЫ НА <br> ВСЮ ПРОДУКЦИЮ
                            span(class="advantages__txt") Мы идем в ногу со временем <br> и принимаем карточки
                    div(class="advantages__item")
                        img(class="advantages__icon", src="../src/img/icons/advantages/contract.svg")
                        div(class="advantages__txt-wrap")
                            h3(class="advantages__title") ВСЯ ПРОДУКЦИЯ <br> СЕРТИФИЦИРОВАНА
                            span(class="advantages__txt") Наша продукция имеет все <br> сертификаты
                    div(class="advantages__item")
                        img(class="advantages__icon", src="../src/img/icons/advantages/sticker.svg")
                        div(class="advantages__txt-wrap")
                            h3(class="advantages__title") Гарантия на <br> все товары
                            span(class="advantages__txt") Прямо так вот, на все <br> без разбору
        div(class="about")
            div(class="container")
                div(class="about__header txt-block")
                    div(class="txt-block__title") 
                        h2(class="subtitle") О компании
                    p(class="txt-block__txt") В профессиональной сфере часто случается так, что личные или корпоративные клиенты заказывают, чтобы публикация была сделана и представлена еще тогда, когда фактическое содержание все еще не готово. Вспомните новостные блоги, где информация публикуется каждый час в живом порядке. Тем не менее, читатели склонны к тому, чтобы быть отвлеченными доступным контентом.
                div(class="about__grid")
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_1.jpg", alt="")
                        span(class="about__grid-title") о компании
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_2.jpg", alt="")
                        span(class="about__grid-title") история
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_3.jpg", alt="")
                        span(class="about__grid-title") видео
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_3.jpg", alt="")
                        span(class="about__grid-title") дилеры
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_4.jpg", alt="")
                        span(class="about__grid-title") вакансии
                    a(href="!#", class="about__grid-item")
                        img(class="about__grid-bg",src="../src/img/about_5.jpg", alt="")
                        span(class="about__grid-title") контакты
        include pug/blocks/catalog.pug
        div(class="introduction home-pg__price", style="background-image:  url(../src/img/shpatel.jpg); background-size: cover;background-position: center;")
            div(class="container")
                button(class="button introduction__price") 
                    span Получить оптовый прайс
        div(class="why home-pg__why")
            div(class="container")
                <picture>
                    <source srcset="../src/img/products/big-picture.webp" type="image/webp">
                    <source srcset="../src/img/products/big-picture.png" type="image/png"> 
                    <img class="why__img", src="../src/img/products/big-picture.png" alt="Alt Text!">
                </picture>
                div(class="why__txt-wrap")
                    h2(class="subtitle why__title") ПОЧЕМУ МЫ
                    p(class="why__txt") В профессиональной сфере часто случается так, что личные или корпоративные клиенты заказывают, чтобы публикация была сделана и представлена еще тогда, когда фактическое содержание все еще не готово. Вспомните новостные блоги, где информация публикуется каждый час в живом порядке. Тем не менее, читатели склонны к тому, чтобы быть отвлеченными доступным контентом, скажем, любым текстом, который был скопирован из газеты или интернета.
                    button(class="button button_green why__btn") Подробнее
        include pug/blocks/news.pug 
        include pug/blocks/footer.pug 