<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head.pug
    body
        include pug/blocks/header.pug 
        div(class="welcome", style="background-image:  url(../src/img/fitting-wood-flooring.jpg); background-size: cover;background-position: center;")
            div(class="container container_big welcome__wrap")
                div(class="welcome__title")
                        span(class="welcome__title-big") ПРОДУКЦИЯ У КОТОРОЙ ЕСТЬ ДУША 
                        <br>
                        span полиуретановая и эпоксидная 
                div(class="welcome__separator")
                    div
                h1(class="welcome__subtitle") СОБСТВЕННОЕ ПРОИЗВОДСТВО УМНОГО КЛЕЯ
                div(class="welcome__actions")
                    button(class="button welcome__btn welcome__catalog") 
                        span Посмотреть каталог
                    button(class="button welcome__btn button_green welcome__partner") 
                        span Стать партнером
        include pug/blocks/footer.pug