@import 'scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1132px;
    display: block;
    margin: auto;

    &_big {
        max-width: 1261px;
    }
}

@import 'scss/header.scss';
@import 'scss/nav.scss';
@import 'scss/menu.scss';
@import 'scss/contacts.scss';
@import 'scss/footer.scss';
@import 'scss/subscribe.scss';