@import 'scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @include container {
        font-size: 14px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1132px;
    display: block;
    margin: auto;

    @include container {
        padding-left: 25px;
        padding-right: 25px;
    }

    &_big {
        max-width: 1261px;
    }
}

@import 'scss/button.scss';
@import 'scss/header.scss';
@import 'scss/nav.scss';
@import 'scss/menu.scss';
@import 'scss/contacts.scss';
@import 'scss/footer.scss';
@import 'scss/subscribe.scss';
@import 'scss/welcome.scss';
@import 'scss/advantages.scss';