.catalog {
    &__grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-top: 68px;

        &:before,
        &:after {
            content: '';
            background-color: #F6F6F6;
            position: absolute;
        }

        &:before {
            top: calc(50% - 0.5px);
            left: 0;
            height: 1px;
            width: 100%;
        }

        &:after {
            left: calc(50% - 0.5px);
            top: 0;
            width: 1px;
            height: 100%;
        }
    }

    &__item {
        display: flex;
        text-decoration: none;
        font-size: 14px;
        line-height: 19px;
        color: #424242;
        padding: 3px 60px 20px 0;

        &:hover {
            .catalog__item-title:after {
                width: 100%;
            }
        }
    }

    &__item-img {
        width: 170px;
        height: 170px;
        margin-right: 5px;
        object-fit: contain;
        object-position: center;
    }

    &__item-text {
        padding-top: 25px;
    }

    &__item-title {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #212121;
        padding-bottom: 8px;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            width: 33%;
            background-color: #E9E9E9;
            transition: all ease-out .2s;
        }
    }

    &__item-desc {
        margin-top: 8px;
    }

}