.contacts {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.1875rem;

    &_white {
        .contacts {

            &__text,
            &__link {
                color: #fff;
            }
        }
    }

    &__icon {
        margin-right: 20px;
    }

    &__text {
        color: #777777;
        font-weight: 300;
    }

    &__link {
        font-weight: bold;
        color: $base-green;
        text-decoration: none;
    }

}