.menu {
    color: white;
    display: flex;
    background-color: $base-green;
    padding: 23px 60px;

    &__item {
        margin-right: 36px;
        list-style: none;

        a {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
        }
    }
}